body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	background: #ffffff;
	font-size: 16px;
	color: #2f2f2f;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

/* HEADER */
.header {
	background-color: #27da7b;
	padding: 3em 0;
	margin-bottom: 1.875em;
}


/*FOOTER */

.footer {
	background-color: #27da7b;
	padding: 1em 0;
	font-size: 0.8em;
	color: #105631;
	margin-top: 1.875em;
}

.footer a {
	color: #105631;
}

/* TYPOGRAPHY */

h1, h2 {
	color: #fff;
	font-weight: normal;
}

h1 {
	font-family: "freight-sans-pro", sans-serif;
	font-weight: 300;
	font-size: 3.75em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	text-transform: uppercase;
	color: #4fc0e1;
	font-size: 1.125em;
	letter-spacing: 0.2em;
}

ol {
	margin: 0;
	padding: 0;
}

ol li {
	font-size: 1.275em;
	line-height: 2em;
	list-style-type: none;
	display: block;
	border-bottom: 1px solid #ccc;
	padding: 0.5em 0;
	transition: 0.3s ease;
}

ol a {
	color: inherit;
	text-indent: 2em;
}

ol a:hover {
	text-decoration: none;
	color: #ccc;
}

ol li:hover {
	background-color: #f7f7f7;
}

.soon {
	color: #ccc;
	font-style: italic;
}

a, a:link, a:visited, a:active {
	font-weight: normal;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
